priest-generator/src/main/java/com/little/g/xml/GenerateConfig.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT generatorConfiguration (properties,generateFile+) >
<!ELEMENT properties (property*) >
<!ELEMENT property  EMPTY>
<!ELEMENT generateFile (property*)>
<!ATTLIST property
        name    CDATA #REQUIRED
        value   CDATA #REQUIRED >
<!ATTLIST generateFile
        packagePath    CDATA #IMPLIED
        templateName   CDATA #REQUIRED
        fileName   CDATA #REQUIRED>